In [1]:
import pandas as pd

df = pd.read_csv('./data/auto-mpg.csv', header=None)
df
df.columns = ['mpg','cylinders','displacement','horsepower','weight',
              'acceleration','model year','origin','name']
df.head(7)
df.tail()
df.shape # (398, 9) (행수, 열수)
df.info() # 결측값이 있는 확인, 열에 대한 자료형
df.dtypes
df.columns

df.mpg.dtypes
# 또는 동일한 코드
df['mpg'].dtypes
df[['mpg','name']].dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

mpg     float64
name     object
dtype: object

In [2]:
# 요약 정보 보기
df.describe() # 오직 숫자형 자료만의 요약 정보를 보여준다.

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [3]:
# 요약 정보 보기
df.describe(include='all') # 모든 열 자료의 요약 정보를 보여준다.

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin,name
count,398.000000,398.000000,398.000000,398,398.000000,398.000000,398.000000,398.000000,398
unique,NaN,NaN,NaN,94,NaN,NaN,NaN,NaN,305
top,NaN,NaN,NaN,150.0,NaN,NaN,NaN,NaN,ford pinto
freq,NaN,NaN,NaN,22,NaN,NaN,NaN,NaN,6
mean,23.514573,5.454774,193.425879,NaN,2970.424623,15.568090,76.010050,1.572864,NaN
std,7.815984,1.701004,104.269838,NaN,846.841774,2.757689,3.697627,0.802055,NaN
min,9.000000,3.000000,68.000000,NaN,1613.000000,8.000000,70.000000,1.000000,NaN
25%,17.500000,4.000000,104.250000,NaN,2223.750000,13.825000,73.000000,1.000000,NaN
50%,23.000000,4.000000,148.500000,NaN,2803.500000,15.500000,76.000000,1.000000,NaN
75%,29.000000,8.000000,262.000000,NaN,3608.000000,17.175000,79.000000,2.000000,NaN
max,46.600000,8.000000,455.000000,NaN,5140.000000,24.800000,82.000000,3.000000,NaN

In [4]:
# 요약 정보 보기
df.describe(include='object')

       horsepower        name
count         398         398
unique         94         305
top         150.0  ford pinto
freq           22           6

In [5]:
df.describe(include='number')

,mpg,cylinders,displacement,weight,acceleration,model year,origin
count,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,5140.000000,24.800000,82.000000,3.000000

In [6]:
#139p

a = df.count()
print(a)

type(df.count())

mpg             398
cylinders       398
displacement    398
horsepower      398
weight          398
acceleration    398
model year      398
origin          398
name            398
dtype: int64

pandas.core.series.Series

In [7]:
df1 = pd.read_excel('./data/남북한발전전력량.xlsx')
df1

# 첫행부터 5개 보기
df1.head(5)
# 첫행부터 20개 보기
df1.head(20)
# 마지막행 앞에서 5개부터 끝까지 보기
df1.tail(5)

# 행과 열의 개수?
df1.shape

# 기본정보 보기
df1.info()

# 통계 요약 보기
df1.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 29 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   전력량 (억㎾h)  2 non-null      object
 1   발전 전력별     9 non-null      object
 2   1990       9 non-null      object
 3   1991       9 non-null      object
 4   1992       9 non-null      object
 5   1993       9 non-null      object
 6   1994       9 non-null      object
 7   1995       9 non-null      object
 8   1996       9 non-null      object
 9   1997       9 non-null      object
 10  1998       9 non-null      object
 11  1999       9 non-null      object
 12  2000       9 non-null      object
 13  2001       9 non-null      object
 14  2002       9 non-null      object
 15  2003       9 non-null      object
 16  2004       9 non-null      object
 17  2005       9 non-null      object
 18  2006       9 non-null      object
 19  2007       9 non-null      object
 20  2008       9 non-null      object
 21  2009       9 non-null      object
 22  2010       9 non-null      object
 23  2011       9 non-null      object
 24  2012       9 non-null      object
 25  2013       9 non-null      object
 26  2014       9 non-null      object
 27  2015       9 non-null      object
 28  2016       9 non-null      object
dtypes: object(29)
memory usage: 2.2+ KB

,전력량 (억㎾h),발전 전력별,1990,1991,1992,1993,1994,1995,1996,1997,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
count,2,9,9,9,9,9,9,9,9,9,...,9,9,9,9,9,9,9,9,9,9
unique,2,5,8,8,8,8,8,8,8,8,...,8,8,8,8,8,9,9,9,9,9
top,남한,합계,-,-,-,-,-,-,-,-,...,-,-,-,-,-,5096,5171,5220,5281,5404
freq,1,2,2,2,2,2,2,2,2,2,...,2,2,2,2,2,1,1,1,1,1

In [8]:
# 통계 숫자형 요약 보기
# df1.describe(include='number')

In [9]:
#142page 통계함수

df.mean(numeric_only=True)
df.mean(numeric_only=True)
df['weight'].mean() # 산술평균 : 계산에 의해서 대표값 추출하는 방법
# 단점: 극단적인 값이 있다면 좋지 않음, 계산하는 시간이 걸린다. 장점: 정확하다.
df.weight.mean()
# 중앙값 == 중위값 == 중위수: 오름차순으로 정렬하고 중간에 위치한 값
# 주로 사용되는 것은 극단적인 최소, 최대를 제외하고 대표갑승ㄹ 추출할 떄 이용함
df.median(numeric_only=True)
df['origin'].median()
#표준편차
df.std(numeric_only=True)
df[['displacement', 'weight', 'acceleration' ]].std()
# df[ ['displacement':'acceleration'] ].std() 오류발생
# 상관계수: 변수(=변량)들 사이의 관계도
df.corr(numeric_only=True)
df[[ 'displacement','weight', 'acceleration' ]].std()

displacement    104.269838
weight          846.841774
acceleration      2.757689
dtype: float64

# [ ict_수정.xlsx ]
위 파일로 배운 거 복습하기

In [10]:
# ict_수정.xlsx 파일 읽어오기
import pandas as pd
df5 = pd.read_excel('./data/ict_수정.xlsx')
df5

        학과별(1)  응답자수 (명)  남자응답자수  남자비율  여자응답자수  여자비율
0          전체계       369     287  77.6      83  22.4
1      전체ICT학과       221     175  79.3      46  20.7
2    전체ICT관련학과        51      36  71.7      14  28.3
3     전체비ICT학과        98      75  76.9      23  23.1
4         전문대계        39      29  73.5      10  26.5
5     전문대ICT학과        31      25  80.3       6  19.7
6   전문대ICT관련학과         4       2  41.0       2  59.0
7    전문대비ICT학과         4       2  50.0       2  50.0
8         대학교계       244     188  76.7      57  23.3
9     대학교ICT학과       150     119  79.4      31  20.6
10  대학교ICT관련학과        32      23  69.7      10  30.3
11   대학교비ICT학과        62      46  73.9      16  26.1
12        대학원계        86      71  82.1      15  17.9
13    대학원ICT학과        39      31  78.2       9  21.8
14  대학원ICT관련학과        14      12  84.3       2  15.7
15   대학원비ICT학과        32      28  85.7       5  14.3

In [11]:
# 컬럼명 바꾸기
df5 = df5.rename(columns={'학과별(1)':'학과별', '응답자수 (명)':'응답자수'})
print(df5)

df5 = df5.set_index('학과별')
df5

           학과별  응답자수  남자응답자수  남자비율  여자응답자수  여자비율
0          전체계   369     287  77.6      83  22.4
1      전체ICT학과   221     175  79.3      46  20.7
2    전체ICT관련학과    51      36  71.7      14  28.3
3     전체비ICT학과    98      75  76.9      23  23.1
4         전문대계    39      29  73.5      10  26.5
5     전문대ICT학과    31      25  80.3       6  19.7
6   전문대ICT관련학과     4       2  41.0       2  59.0
7    전문대비ICT학과     4       2  50.0       2  50.0
8         대학교계   244     188  76.7      57  23.3
9     대학교ICT학과   150     119  79.4      31  20.6
10  대학교ICT관련학과    32      23  69.7      10  30.3
11   대학교비ICT학과    62      46  73.9      16  26.1
12        대학원계    86      71  82.1      15  17.9
13    대학원ICT학과    39      31  78.2       9  21.8
14  대학원ICT관련학과    14      12  84.3       2  15.7
15   대학원비ICT학과    32      28  85.7       5  14.3

            응답자수  남자응답자수  남자비율  여자응답자수  여자비율
학과별
전체계          369     287  77.6      83  22.4
전체ICT학과      221     175  79.3      46  20.7
전체ICT관련학과     51      36  71.7      14  28.3
전체비ICT학과      98      75  76.9      23  23.1
전문대계          39      29  73.5      10  26.5
전문대ICT학과      31      25  80.3       6  19.7
전문대ICT관련학과     4       2  41.0       2  59.0
전문대비ICT학과      4       2  50.0       2  50.0
대학교계         244     188  76.7      57  23.3
대학교ICT학과     150     119  79.4      31  20.6
대학교ICT관련학과    32      23  69.7      10  30.3
대학교비ICT학과     62      46  73.9      16  26.1
대학원계          86      71  82.1      15  17.9
대학원ICT학과      39      31  78.2       9  21.8
대학원ICT관련학과    14      12  84.3       2  15.7
대학원비ICT학과     32      28  85.7       5  14.3

In [12]:
# 데이터프레임을 전치하기(행열위치바꾸기)
df5 = df5.T
df5

학과별,전체계,전체ICT학과,전체ICT관련학과,전체비ICT학과,전문대계,전문대ICT학과,전문대ICT관련학과,전문대비ICT학과,대학교계,대학교ICT학과,대학교ICT관련학과,대학교비ICT학과,대학원계,대학원ICT학과,대학원ICT관련학과,대학원비ICT학과
응답자수,369.0,221.0,51.0,98.0,39.0,31.0,4.0,4.0,244.0,150.0,32.0,62.0,86.0,39.0,14.0,32.0
남자응답자수,287.0,175.0,36.0,75.0,29.0,25.0,2.0,2.0,188.0,119.0,23.0,46.0,71.0,31.0,12.0,28.0
남자비율,77.6,79.3,71.7,76.9,73.5,80.3,41.0,50.0,76.7,79.4,69.7,73.9,82.1,78.2,84.3,85.7
여자응답자수,83.0,46.0,14.0,23.0,10.0,6.0,2.0,2.0,57.0,31.0,10.0,16.0,15.0,9.0,2.0,5.0
여자비율,22.4,20.7,28.3,23.1,26.5,19.7,59.0,50.0,23.3,20.6,30.3,26.1,17.9,21.8,15.7,14.3

In [13]:
# 데이터 정보

df5.info()

<class 'pandas.core.frame.DataFrame'>
Index: 5 entries, 응답자수 to 여자비율
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   전체계         5 non-null      float64
 1   전체ICT학과     5 non-null      float64
 2   전체ICT관련학과   5 non-null      float64
 3   전체비ICT학과    5 non-null      float64
 4   전문대계        5 non-null      float64
 5   전문대ICT학과    5 non-null      float64
 6   전문대ICT관련학과  5 non-null      float64
 7   전문대비ICT학과   5 non-null      float64
 8   대학교계        5 non-null      float64
 9   대학교ICT학과    5 non-null      float64
 10  대학교ICT관련학과  5 non-null      float64
 11  대학교비ICT학과   5 non-null      float64
 12  대학원계        5 non-null      float64
 13  대학원ICT학과    5 non-null      float64
 14  대학원ICT관련학과  5 non-null      float64
 15  대학원비ICT학과   5 non-null      float64
dtypes: float64(16)
memory usage: 852.0+ bytes

In [14]:
# 데이터 형태 보기

df5.shape

(5, 16)

In [15]:
# 데이터 요약 보기

df5.describe()

학과별,전체계,전체ICT학과,전체ICT관련학과,전체비ICT학과,전문대계,전문대ICT학과,전문대ICT관련학과,전문대비ICT학과,대학교계,대학교ICT학과,대학교ICT관련학과,대학교비ICT학과,대학원계,대학원ICT학과,대학원ICT관련학과,대학원비ICT학과
count,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.00000,5.000000,5.000000
mean,167.800000,108.400000,40.200000,59.200000,35.60000,32.400000,21.600000,21.600000,117.800000,80.000000,33.000000,44.800000,54.400000,35.80000,25.600000,33.000000
std,150.962181,85.945011,22.105316,34.212644,23.60985,28.325695,26.707677,25.938389,93.769105,55.566897,22.272068,24.099896,35.092806,26.19771,33.242217,31.372679
min,22.400000,20.700000,14.000000,23.000000,10.00000,6.000000,2.000000,2.000000,23.300000,20.600000,10.000000,16.000000,15.000000,9.00000,2.000000,5.000000
25%,77.600000,46.000000,28.300000,23.100000,26.50000,19.700000,2.000000,2.000000,57.000000,31.000000,23.000000,26.100000,17.900000,21.80000,12.000000,14.300000
50%,83.000000,79.300000,36.000000,75.000000,29.00000,25.000000,4.000000,4.000000,76.700000,79.400000,30.300000,46.000000,71.000000,31.00000,14.000000,28.000000
75%,287.000000,175.000000,51.000000,76.900000,39.00000,31.000000,41.000000,50.000000,188.000000,119.000000,32.000000,62.000000,82.100000,39.00000,15.700000,32.000000
max,369.000000,221.000000,71.700000,98.000000,73.50000,80.300000,59.000000,50.000000,244.000000,150.000000,69.700000,73.900000,86.000000,78.20000,84.300000,85.700000

In [16]:
# 각 열의 데이터 개수 보기

df5.count()

학과별
전체계           5
전체ICT학과       5
전체ICT관련학과     5
전체비ICT학과      5
전문대계          5
전문대ICT학과      5
전문대ICT관련학과    5
전문대비ICT학과     5
대학교계          5
대학교ICT학과      5
대학교ICT관련학과    5
대학교비ICT학과     5
대학원계          5
대학원ICT학과      5
대학원ICT관련학과    5
대학원비ICT학과     5
dtype: int64

In [17]:
# '전문대계'열의 고유값 개수 구하기

df5['전문대계'].value_counts()

전문대계
39.0    1
29.0    1
73.5    1
10.0    1
26.5    1
Name: count, dtype: int64

In [18]:
# 전체 산술평균 구하기
df5.mean(numeric_only = True)

학과별
전체계           167.8
전체ICT학과       108.4
전체ICT관련학과      40.2
전체비ICT학과       59.2
전문대계           35.6
전문대ICT학과       32.4
전문대ICT관련학과     21.6
전문대비ICT학과      21.6
대학교계          117.8
대학교ICT학과       80.0
대학교ICT관련학과     33.0
대학교비ICT학과      44.8
대학원계           54.4
대학원ICT학과       35.8
대학원ICT관련학과     25.6
대학원비ICT학과      33.0
dtype: float64

In [19]:
# '대학원ICT학과', '대학원ICT관련학과'의 산술 평균 구하기
df5[['대학원ICT학과', '대학원ICT관련학과']].mean()

학과별
대학원ICT학과      35.8
대학원ICT관련학과    25.6
dtype: float64

In [20]:
# 전체 중앙값 구하기
df5.median()

학과별
전체계           83.0
전체ICT학과       79.3
전체ICT관련학과     36.0
전체비ICT학과      75.0
전문대계          29.0
전문대ICT학과      25.0
전문대ICT관련학과     4.0
전문대비ICT학과      4.0
대학교계          76.7
대학교ICT학과      79.4
대학교ICT관련학과    30.3
대학교비ICT학과     46.0
대학원계          71.0
대학원ICT학과      31.0
대학원ICT관련학과    14.0
대학원비ICT학과     28.0
dtype: float64

In [21]:
# 최대값 구하기
df5.max()

학과별
전체계           369.0
전체ICT학과       221.0
전체ICT관련학과      71.7
전체비ICT학과       98.0
전문대계           73.5
전문대ICT학과       80.3
전문대ICT관련학과     59.0
전문대비ICT학과      50.0
대학교계          244.0
대학교ICT학과      150.0
대학교ICT관련학과     69.7
대학교비ICT학과      73.9
대학원계           86.0
대학원ICT학과       78.2
대학원ICT관련학과     84.3
대학원비ICT학과      85.7
dtype: float64

In [22]:
# 최소값 구하기
df5.min()

학과별
전체계           22.4
전체ICT학과       20.7
전체ICT관련학과     14.0
전체비ICT학과      23.0
전문대계          10.0
전문대ICT학과       6.0
전문대ICT관련학과     2.0
전문대비ICT학과      2.0
대학교계          23.3
대학교ICT학과      20.6
대학교ICT관련학과    10.0
대학교비ICT학과     16.0
대학원계          15.0
대학원ICT학과       9.0
대학원ICT관련학과     2.0
대학원비ICT학과      5.0
dtype: float64

In [23]:
# 표준편차 구하기
df5.std()

학과별
전체계           150.962181
전체ICT학과        85.945011
전체ICT관련학과      22.105316
전체비ICT학과       34.212644
전문대계           23.609850
전문대ICT학과       28.325695
전문대ICT관련학과     26.707677
전문대비ICT학과      25.938389
대학교계           93.769105
대학교ICT학과       55.566897
대학교ICT관련학과     22.272068
대학교비ICT학과      24.099896
대학원계           35.092806
대학원ICT학과       26.197710
대학원ICT관련학과     33.242217
대학원비ICT학과      31.372679
dtype: float64

In [24]:
# '대학원ICT학과', ' 대학원ICT관련학과' 표준편차 구하기

df5[['대학원ICT학과', '대학원ICT관련학과']].std()

학과별
대학원ICT학과      26.197710
대학원ICT관련학과    33.242217
dtype: float64

In [25]:
# 전체 상관계수 구하기
import numpy as np

df5_corr = df5.corr()
index_size = len(df5_corr.index) # 행의 개수 16개
col_size = len(df5_corr.columns) # 열의 개수 16개

for i in range(0, index_size):
    for j in range(0, col_size):
        if np.abs( df5_corr.iloc[i,j] ) >= 0.5 :
            print( df5_corr.iloc[i,j] )

1.0
0.9877446520663283
0.7944175623095877
-0.707070107901922
-0.696322258970308
0.9954132228300591
0.941136091698774
0.6836153922053411
0.9877446520663283
1.0
0.8783599743382947
-0.6435285407717761
-0.6034697105746234
0.9977377078465449
0.9822565044652877
0.5560536778242903
0.788884056258475
1.0
0.7564182725413802
0.9758993819671326
0.9453109829268624
0.5218412216410223
0.9251802350508652
0.9734937574590017
0.8413734674502472
0.9752401269642861
0.8563276427683991
0.9467803439393522
0.7944175623095877
0.8783599743382947
0.7564182725413802
1.0
0.6046694503070723
0.5393526601089704
0.8486874936213239
0.952048338982754
0.8850652091152776
0.9833646810123831
0.6343796651002952
0.5831457493054283
0.9758993819671326
0.6046694503070723
1.0
0.990967832623755
0.5671116522182655
0.9826655126852055
0.9055001642609251
0.7206990395762272
0.9955151459289275
0.9458252062025945
0.9834897142576293
0.9453109829268624
0.5393526601089704
0.990967832623755
1.0
0.5739578952691785
0.9807143098663342
0.8638221423849196
0.6698653636971985
0.9929408934971375
0.9763554643899711
0.9957261787891093
-0.707070107901922
-0.6435285407717761
1.0
0.9711959873636745
-0.6725284708463847
-0.5507179658770536
0.5360308325836775
-0.696322258970308
-0.6034697105746234
0.5671116522182655
0.5739578952691785
0.9711959873636745
1.0
-0.6430751905951433
0.7053815295711692
0.5038803672298418
0.6724271460443841
0.5007638999550145
0.9954132228300591
0.9977377078465449
0.8486874936213239
-0.6725284708463847
-0.6430751905951433
1.0
0.9686748950846407
0.506350999414653
0.7490637883939137
0.941136091698774
0.9822565044652877
0.5218412216410223
0.952048338982754
-0.5507179658770536
0.9686748950846407
1.0
0.7010607341453985
0.889934110531094
0.9251802350508652
0.9826655126852055
0.9807143098663342
0.5360308325836775
0.7053815295711692
1.0
0.8158571237960708
0.5833434211195226
0.9662246132222108
0.9695857176059917
0.958726185787602
0.5560536778242903
0.9734937574590017
0.8850652091152776
0.9055001642609251
0.8638221423849196
0.506350999414653
0.7010607341453985
0.8158571237960708
1.0
0.9420171915806147
0.917365819020394
0.7355636027848291
0.8816745401470906
0.6836153922053411
0.788884056258475
0.8413734674502472
0.9833646810123831
0.7206990395762272
0.6698653636971985
0.7490637883939137
0.889934110531094
0.5833434211195226
0.9420171915806147
1.0
0.7513016222159855
0.7109598170322949
0.9752401269642861
0.6343796651002952
0.9955151459289275
0.9929408934971375
0.5038803672298418
0.9662246132222108
0.917365819020394
0.7513016222159855
1.0
0.9439181959312356
0.9938892897392821
0.8563276427683991
0.9458252062025945
0.9763554643899711
0.6724271460443841
0.9695857176059917
0.7355636027848291
0.9439181959312356
1.0
0.9634264948398115
0.9467803439393522
0.5831457493054283
0.9834897142576293
0.9957261787891093
0.5007638999550145
0.958726185787602
0.8816745401470906
0.7109598170322949
0.9938892897392821
0.9634264948398115
1.0

In [48]:
# 상관계수 절대값이 0.5 이상인 것들의 열 이름을 리스트로 저장하기
import numpy as np


df5_corr = df5.corr()
df5_corr
# 상관계수 값을 가져와서 0.5 이상인지 판단
#행수
df5_index_len = len(df5_corr.index) # 행의 개수
df5_index_len

# 열의 개수
df5_columns_len = len(df5_corr.columns)
df5_columns_len

# 열명들을 리스트에 담았다
df5_corr_col_name = df5_corr.columns
print( df5_corr_col_name )

result_list = []

for i in range(df5_index_len): # i 값은 0,1,2,..15
    for j in range(df5_columns_len): # j = 0,1,2,..15
        if( (np.abs( df5_corr.iloc[i][j])) >= 0.5 and (np.abs(df5_corr.iloc[i][j])) != 1 ):
            print( df5_corr.iloc[i][j] )
            result_list.append( df5_corr_col_name[j] )
    print('\n')


# 중복 제거를 위해 set() 넣기
result_list = set(result_list)
# set 자료를 list로 만들기
result_list = list(result_list)
result_list
    
# import numpy
# corr_abs = numpy.abs(corr_values) # 절대값으로 저장
# for i in corr_abs:
#     for ii in i:
#         if ii >= 0.5 :
#             df.iloc[ ]

Index(['전체계', '전체ICT학과', '전체ICT관련학과', '전체비ICT학과', '전문대계', '전문대ICT학과',
       '전문대ICT관련학과', '전문대비ICT학과', '대학교계', '대학교ICT학과', '대학교ICT관련학과',
       '대학교비ICT학과', '대학원계', '대학원ICT학과', '대학원ICT관련학과', '대학원비ICT학과'],
      dtype='object', name='학과별')
0.9877446520663283
0.7944175623095877
-0.707070107901922
-0.696322258970308
0.9954132228300591
0.941136091698774
0.6836153922053411


0.9877446520663283
0.8783599743382947
-0.6435285407717761
-0.6034697105746234
0.9977377078465449
0.9822565044652877
0.5560536778242903
0.788884056258475


0.7564182725413802
0.9758993819671326
0.9453109829268624
0.5218412216410223
0.9251802350508652
0.9734937574590017
0.8413734674502472
0.9752401269642861
0.8563276427683991
0.9467803439393522


0.7944175623095877
0.8783599743382947
0.7564182725413802
0.6046694503070723
0.5393526601089704
0.8486874936213239
0.952048338982754
0.8850652091152776
0.9833646810123831
0.6343796651002952
0.5831457493054283


0.9758993819671326
0.6046694503070723
0.990967832623755
0.5671116522182655
0.9826655126852055
0.9055001642609251
0.7206990395762272
0.9955151459289275
0.9458252062025945
0.9834897142576293


0.9453109829268624
0.5393526601089704
0.990967832623755
0.5739578952691785
0.9807143098663342
0.8638221423849196
0.6698653636971985
0.9929408934971375
0.9763554643899711
0.9957261787891093


-0.707070107901922
-0.6435285407717761
0.9711959873636745
-0.6725284708463847
-0.5507179658770536
0.5360308325836775


-0.696322258970308
-0.6034697105746234
0.5671116522182655
0.5739578952691785
0.9711959873636745
-0.6430751905951433
0.7053815295711692
0.5038803672298418
0.6724271460443841
0.5007638999550145


0.9954132228300591
0.9977377078465449
0.8486874936213239
-0.6725284708463847
-0.6430751905951433
0.9686748950846407
0.506350999414653
0.7490637883939137


0.941136091698774
0.9822565044652877
0.5218412216410223
0.952048338982754
-0.5507179658770536
0.9686748950846407
0.7010607341453985
0.889934110531094


0.9251802350508652
0.9826655126852055
0.9807143098663342
0.5360308325836775
0.7053815295711692
0.8158571237960708
0.5833434211195226
0.9662246132222108
0.9695857176059917
0.958726185787602


0.5560536778242903
0.9734937574590017
0.8850652091152776
0.9055001642609251
0.8638221423849196
0.506350999414653
0.7010607341453985
0.8158571237960708
0.9420171915806147
0.917365819020394
0.7355636027848291
0.8816745401470906


0.6836153922053411
0.788884056258475
0.8413734674502472
0.9833646810123831
0.7206990395762272
0.6698653636971985
0.7490637883939137
0.889934110531094
0.5833434211195226
0.9420171915806147
0.7513016222159855
0.7109598170322949


0.9752401269642861
0.6343796651002952
0.9955151459289275
0.9929408934971375
0.5038803672298418
0.9662246132222108
0.917365819020394
0.7513016222159855
0.9439181959312356
0.9938892897392821


0.8563276427683991
0.9458252062025945
0.9763554643899711
0.6724271460443841
0.9695857176059917
0.7355636027848291
0.9439181959312356
0.9634264948398115


0.9467803439393522
0.5831457493054283
0.9834897142576293
0.9957261787891093
0.5007638999550145
0.958726185787602
0.8816745401470906
0.7109598170322949
0.9938892897392821
0.9634264948398115

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_6632\4269600488.py:24: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  if( (np.abs( df5_corr.iloc[i][j])) >= 0.5 and (np.abs(df5_corr.iloc[i][j])) != 1 ):
C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_6632\4269600488.py:25: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print( df5_corr.iloc[i][j] )

['전문대ICT학과',
 '전문대비ICT학과',
 '전문대ICT관련학과',
 '대학원계',
 '전체계',
 '전체비ICT학과',
 '전문대계',
 '대학교ICT관련학과',
 '대학원ICT관련학과',
 '대학교비ICT학과',
 '대학교ICT학과',
 '전체ICT관련학과',
 '전체ICT학과',
 '대학교계',
 '대학원비ICT학과',
 '대학원ICT학과']